@page "/home"
@inherits LayoutComponentBase
<div class="title-container">
    <h1 class="page-title">化療病床預約系統</h1>
</div>
<br />
<h4 style="text-align: center;">登入資料</h4>
<br />

<div style="display: flex; justify-content: center; align-items: center;">
    <p>歡迎 @SharedData.IdNumber</p>
</div>

<br />

<div class="square-box-container">
    <button class="square-box" @onclick="NavigateToOtherPage1">
        <span class="oi oi-list-rich" style="color: #395C65;"></span>
        <p>評估表單</p>
    </button>

    <button class="square-box" @onclick="NavigateToOtherPage2">
        <span class="oi oi-plus" style="color: #395C65;"></span>
        <p>馬上預約</p>
    </button>

    <button class="square-box" @onclick="NavigateToOtherPage3">
        <span class="oi oi-clock" style="color: #395C65;"></span>
        <p>我的預約</p>
    </button>
</div>

<div style="display: flex; justify-content: center; align-items: center; ">
    <button @onclick="NavigateToOtherPagehome" class="button">登出</button>
</div>

<style>

    .title-container {
        background-color: #acc7d0;
        text-align: center;
        padding: 35px;
        margin-bottom: 10px; /* Add margin at the bottom */
        margin-top: 0;
    }

    .page-title {
        font-size: 1.9em; /* Decrease font size */
        color: #3d474a;
    }
    .square-box-container {
        display: flex; /* 水平排列 */
        justify-content: center; /* 水平對齊 */
    }

    .square-box {
        width: 180px;
        height: 180px;
        background-color: #CEDFE3;
        color: #636a62;
        text-align: center;
        display: flex;
        align-items: center; /* 垂直對齊*/
        justify-content: center;
        margin-bottom: 100px;
        margin-left: 30px;
        position: relative;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* 添加過渡效果 */
        border: 2px solid #636a62; /* 邊框初始顏色 */
    }

        .square-box:hover {
            background-color: rgb(134, 155, 167, 0.6); /* 滑鼠懸停時的背景色 */
            color: white; /* 滑鼠懸停時的文字顏色 */
            border-color: #818F98; /* 滑鼠懸停時的邊框顏色 */
        }

            .square-box:hover .oi {
                color: white; /* 滑鼠懸停時的符號顏色 */
            }

        .square-box p {
            font-size: 24px;
            margin-bottom: -50px; /* 調整圖標和文字之間的距離 */
            margin-left: 10px;
            position: absolute;
        }

    .oi {
        width: 2rem;
        font-size: 1.2rem;
        color: #6b6b6b;
        vertical-align: text-top;
        top: -15px;
        transition: color 0.3s ease; /* 添加過渡效果 */
    }

    .button {
        background-color: #e1e7ea; /* 水藍色背景 */
        color: black;
        border: 0.5px solid black; /* 黑色細框 */
        border-radius: 12px; /* 圓邊 */
        padding: 2px 5px; /* 調整按鈕內容與邊框的距離 */
        margin: 0 15px; /* 調整按鈕之間的間距 */
        cursor: pointer;
    }
</style>


@code {
    @inject NavigationManager NavigationManager
    private NavigationManager? Navigation { get; set; }


    private void NavigateToOtherPage1()
    {
        NavigationManager.NavigateTo("/form");
    }

    private void NavigateToOtherPage2()
    {
        if (NavigationManager != null)
        {
            NavigationManager.NavigateTo("/record");
        }
        else
        {
            // 在這裡處理 NavigationManager 為 null 的情況
        }
    }

    private void NavigateToOtherPage3()
    {

        NavigationManager.NavigateTo("/orderrecord");

    }

    private void NavigateToOtherPagehome()
    {

        NavigationManager.NavigateTo("/userlogin");
    }

}