<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BedReservation</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column nav-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 首頁
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reservation">
                <span class="oi oi-plus" aria-hidden="true"></span> 預約化療時段
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 評估表單
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/myreservation">
                <span class="oi oi-clock" aria-hidden="true"></span> 我的預約
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/userLogin">
                <span class="oi oi-account-logout" aria-hidden="true"></span> 登出
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
